html {
    height: 100%;
    width: 100%;
    background-color: rgb(179, 237, 223);
    text-align: center;
      }
    
  
  header {
    color: black;
    font-size: 50px;

  }
  p {
    font-size: 25px;
  }
  button {
    background-color: #df2a12;
  }
